<a href="https://colab.research.google.com/github/PEkt/LabsAnalitic/blob/main/%D0%9B%D0%B0%D0%B17_%D0%9F%D0%BE%D0%BF%D0%BE%D0%B2%D0%B0%D0%95_%D0%94_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Индивидуальное задание**
Вариант 19. Исландия.

In [23]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
url='http://pogoda-service.ru/archive_gsod_res.php?country=IC&station=040170&datepicker_beg=01.12.2010&datepicker_end=01.12.2020&bsubmit=Посмотреть'
req=requests.get(url)
data=pd.read_html(req.text)
df=data[0]
df

       ÐÐ°ÑÐ°  ...  Ð­ÑÑÐµÐºÑÐ¸Ð²Ð½Ð°Ñ ÑÐµÐ¼Ð¿ÐµÑÐ°ÑÑÑÐ°
0    13.11.2014  ...                                           -7.2
1    14.11.2014  ...                                           -3.2
2    15.11.2014  ...                                            4.0
3    16.11.2014  ...                                           -0.5
4    17.11.2014  ...                                            0.4
..          ...  ...                                            ...
995  29.04.2020  ...                                           -0.3
996  30.04.2020  ...                                           -7.9
997  01.05.2020  ...                                           -6.7
998  02.05.2020  ...                                           -4.4
999  03.05.2020  ...                                           -1.4

[1000 rows x 8 columns]

In [25]:
df.drop(df.columns[[1,2,4,5,6,7]], axis = 1, inplace = True)
df

       ÐÐ°ÑÐ°  Ð¡ÑÐµÐ´Ð½ÑÑ ÑÐµÐ¼Ð¿ÐµÑÐ°ÑÑÑÐ°
0    13.11.2014                                    6.6
1    14.11.2014                                    6.7
2    15.11.2014                                    6.2
3    16.11.2014                                    2.7
4    17.11.2014                                    4.1
..          ...                                    ...
995  29.04.2020                                    3.6
996  30.04.2020                                    2.0
997  01.05.2020                                   -0.2
998  02.05.2020                                    0.1
999  03.05.2020                                    3.4

[1000 rows x 2 columns]

In [26]:
df.columns = ['Date', 'Average_temp']
df

           Date  Average_temp
0    13.11.2014           6.6
1    14.11.2014           6.7
2    15.11.2014           6.2
3    16.11.2014           2.7
4    17.11.2014           4.1
..          ...           ...
995  29.04.2020           3.6
996  30.04.2020           2.0
997  01.05.2020          -0.2
998  02.05.2020           0.1
999  03.05.2020           3.4

[1000 rows x 2 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1000 non-null   object
 1   Average_temp  1000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 15.8+ KB

In [28]:
df['Date']=df['Date'].astype('datetime64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1000 non-null   datetime64[ns]
 1   Average_temp  1000 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 15.8 KB

In [29]:
df.isna().sum()

Date            0
Average_temp    0
dtype: int64

In [30]:
df.set_index('Date', inplace=True)
df.head()

            Average_temp
Date
2014-11-13           6.6
2014-11-14           6.7
2014-11-15           6.2
2014-11-16           2.7
2014-11-17           4.1

# **Нормализация**

In [31]:
t=df['Average_temp'].values
t=t.reshape((len(t),1))

In [38]:
scal=MinMaxScaler(feature_range=(0,1))
scal=scal.fit(t)
print('Min: %f, Max:%f' % (scal.data_min_, scal.data_max_))

Min: -7.600000, Max:14.700000

In [41]:
normalized=scal.transform(t)
for i in range(5):
  print(normalized[i])

[0.6367713]
[0.64125561]
[0.61883408]
[0.46188341]
[0.52466368]

In [42]:
inversed=scaler.inverse_transform(normalized)
for i in range(5):
  print(inversed[i])

[6.6]
[6.7]
[6.2]
[2.7]
[4.1]

# **Стандартизация**

In [48]:
scal1=StandardScaler()
scal1=scal1.fit(t)
print('Mean: %f, StandartDevitation: %f' % (scal1.mean_, sqrt(scal1.var_)))

Mean: 2.936000, StandartDevitation: 4.381642

In [44]:
standartisation=scal1.transform(t)
for i in range(5):
  print(standartisation[i])

[0.83621625]
[0.85903875]
[0.74492627]
[-0.05386109]
[0.26565385]

In [45]:
inversed1=scal1.inverse_transform(standartisation)
for i in range(5):
  print(inversed1[i])

[6.6]
[6.7]
[6.2]
[2.7]
[4.1]

# ***ВЫВОД***

In [50]:
df=pd.DataFrame({'Min':scal.data_min_, 'Max': scal.data_max_, 'Среднее': scal1.mean_, "Стандартное отклонение": sqrt(scal1.var_)})
arrays = [['Нормализация', 'Нормализация', 'Стандартизация', 'Стандартизация'], df.columns]
df.columns = pd.MultiIndex.from_arrays(arrays)
df

  Нормализация       Стандартизация
           Min   Max        Среднее Стандартное отклонение
0         -7.6  14.7          2.936               4.381642